.attachment-wrapper{
  padding: 20px;
  ul{
    padding-left: 0;
    list-style: none;
    li{
      padding-top:10px;
      padding-bottom: 10px;

      &:not(:last-child){
        border-bottom: 1px solid #b9b9b9;
      }

      p{
        margin-top: 0;
        margin-bottom: 0;
      }

      h3{
        font-size: 20px;
        i{
          font-size: 12px;
          display: inline-block;
          padding-right: 10px;
          color: #ffa71d;
        }
      }
    }
  }
}
